@import"vars";

#footer {
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    background-color:$color2;
   

    

    .mapa{
        margin: 10px 10px 10px 10px;

    }

    .copy{
        font-size:xx-large;
        color:$color1;

    }

    .redes{
        font-size:xx-large;
        color:$color1;
    
        .icono{
            width:50px;
            height:auto;
        }
    
    }
}