.crear-cuenta {
    padding: 1%;
    margin: 1%;
    background-color:$color2;
    color:$colorletras;

}
.iniciar-sesion{
    
    padding: 1%;
    margin: 1%;
    background-color:$color2;
    color:$colorletras;


}